<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="DetailedLocalOnly">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/Accueil.asp" responseMode="ExecuteURL" />
            <error statusCode="404" subStatusCode="0" prefixLanguageFilePath="" path="/Accueil.asp" responseMode="ExecuteURL" />
        </httpErrors>
        <defaultDocument>
            <files>
                <add value="Accueil.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
